body {
  margin: 0 auto;
  width: 1024px;
}

.app-header {
  background-color: #282c34;
  min-height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 25px;
}
